<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast></p-toast>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <!--p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload-->
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help" (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="emissionFactors" [columns]="cols" responsiveLayout="scroll" [rows]="10" 
                         [globalFilterFields]="['emissionName','emissionFactor']" [rows]="10" [paginator]="true" 
                         [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" 
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
                         [rowHover]="true" dataKey="emissionFactorId">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Emission Factors</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="emissionName">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="emissionType">Emission Type <p-sortIcon field="emissionType"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-emissionFactor>
                    <tr>
                        <td style="width:40%; min-width:10rem;">
                            <span class="p-column-title">Name</span>
                            {{emissionFactor.emissionName}}
                        </td>
                        <td style="width:60%; min-width:10rem;">
                            <span class="p-column-title">Emission Type</span>
                            {{emissionFactor.emissionTypeName}}
                        </td>
                        
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editEmissionFactor(emissionFactor)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteEmissionFactor(emissionFactor)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="emissionFactorDialog" [style]="{width: '80%'}" 
                    header="Emission Factor Details" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="grid">
                    <div class="field md:col-8 sm:col-7">
                        <label for="name">Name</label>
                        <input type="text" pInputText id="name" [(ngModel)]="emissionFactor.emissionName" required autofocus [ngClass]="{'ng-invalid ng-dirty' : submitted && !emissionFactor.name}"/>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && !emissionFactor.emissionName">Name is required.</small>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="emissionType">Emission Type</label>
                        <p-dropdown id="emissionType" [options]="emissionTypes" 
                                    optionLabel="name" optionValue="emissionTypeId" dataKey="emissionTypeId"
                                    [(ngModel)]="emissionFactor.emissionType" placeholder="Select a Emission Type"></p-dropdown>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="unit">Emission Unit</label>
                        <p-dropdown id="unit" [options]="emissionUnits" 
                                    optionLabel="name" optionValue="emissionUnitId" dataKey="emissionUnitId"
                                    [(ngModel)]="emissionFactor.unit" placeholder="Select a Emission Unit"></p-dropdown>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="hhv">HHV</label>
                        <p-inputNumber id="hhv" [(ngModel)]="emissionFactor.hhv" mode="decimal"></p-inputNumber>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="co2Factor">CO2</label>
                        <p-inputNumber id="co2Factor" [(ngModel)]="emissionFactor.co2Factor" mode="decimal"></p-inputNumber>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="ch4Factor">CH4</label>
                        <p-inputNumber id="ch4Factor" [(ngModel)]="emissionFactor.ch4Factor" mode="decimal"></p-inputNumber>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="n2oFactor">N2O</label>
                        <p-inputNumber id="n2oFactor" [(ngModel)]="emissionFactor.n2oFactor" mode="decimal"></p-inputNumber>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="biogenicCo2Factor">Biogenic CO2</label>
                        <p-inputNumber id="biogenicCo2Factor" [(ngModel)]="emissionFactor.biogenicCo2Factor" mode="decimal"></p-inputNumber>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="ar4">AR4</label>
                        <p-inputNumber id="ar4" [(ngModel)]="emissionFactor.ar4" mode="decimal"></p-inputNumber>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="ar5">AR5</label>
                        <p-inputNumber id="ar5" [(ngModel)]="emissionFactor.ar5" mode="decimal"></p-inputNumber>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="fuelEfficiency">Fuel Efficiency</label>
                        <p-inputNumber id="fuelEfficiency" [(ngModel)]="emissionFactor.fuelEfficiency" mode="decimal"></p-inputNumber>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="secondUnit">Second Unit</label>
                        <p-inputNumber id="secondUnit" [(ngModel)]="emissionFactor.secondUnit" mode="decimal"></p-inputNumber>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="co4kg">CO4 Kg</label>
                        <p-inputNumber id="co4kg" [(ngModel)]="emissionFactor.co4kg" mode="decimal"></p-inputNumber>
                    </div>
                    <div class="field md:col-2 sm:col-3">
                        <label for="no2kg">NO2 Kg</label>
                        <p-inputNumber id="no2kg" [(ngModel)]="emissionFactor.no2kg" mode="decimal"></p-inputNumber>
                    </div>
                    <div class="field col-12">
                        <label for="source">Source</label>
                        <textarea [rows]="3" [cols]="30" [(ngModel)]="emissionFactor.source" id="source" pInputTextarea autoResize="autoResize"></textarea>
                    </div>
                    
                </div>
                
                <br/>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveEmissionFactor()"></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteEmissionFactorDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="emissionFactor">Are you sure you want to delete <b>{{emissionFactor.emissionName}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteEmissionFactorDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="confirmDelete()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>